# Big files
*.pdf
colors/hamMap*.png

# IDE
.vscode
.spyproject
.spyproject/
.pylint.d
__pycache__
.venv
# Python
__pycache__/
.DS_Store
hamhelper/__pycache__/

# Testing
.pytest_cache/
.coverage
.egg-info
*.egg-info

# Distribution
dist/
pyproject.toml
uploading.txt
build/